body {
  background-color: cyan;
  text-align: center;
}

button {
  background-color: orange;
  color: white;
}

button:hover {
  background-color: red;
  color: orange;
}

#game {
  display: none;
}
